@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&display=swap');

@media screen and (max-width: 600px) {
	.contact,
	.radioBtns {
		max-width: 100%;
	}
}

body {
	background: linear-gradient(#ffffff, #aabbbb);	font-family: "Barlow", sans-serif;
		
	}
	
img {
	display: flex;
	margin: auto;
	width: 80%;
	max-width: 900px;
	justify-content: center;
	color: #ffffff;
}

fieldset {
	display: flex;
	justify-content: center;
	}

.centered {
		display: flex;
		Justify-content: center;
		align-content: center;
		font-weight: bolder;
	}

 .title {
	display: flex;
	justify-content: center;
	padding: 30px;
	margin: 0;
	max-width: 100%;
	min-width: 300px;
	text-align: left; 
	background-color: #999787;
	color: #fbf2d5; 
	border: 3px solid #000066;
}

.textcont {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 0;
	padding: 30px;
	margin: auto;
	max-width: 90%;
	min-width: 300px;
	text-align: left;
	color: #000066;
	border: 3px solid #000066;
	font-size: 4.5vw 7vw;
	}

	#container {
		float: left;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		justify-content: center;
		width: 90%;
		min-width: 300px;
		text-align: left;
		padding: 30px 30px 10px 30px;
		color:#000066;
		}

	.contact {
	float: left;
	max-height: 600px;
	max-width: 30%;
	min-width: 350px;
	text-align: left;
	padding: 30px 30px 10px 30px;
	/* background-color: #999787; */
	color: #000066;
	/* border: 3px solid #fbf2d5; */
	border: 3px solid #000066; 
	margin: 25px;
}

.radioBtns {
	float: left;
	max-height: 500px;
	max-width: 30%;
	min-width: 350px;
	text-align: left;
	padding: 30px;
	/* background-color: #999787; */
	color: #000066;
	border: 3px solid #000066;
	border-spacing: 5px;
	margin: 25px;
}

.link {
	float: left;
	max-height: 600px;
	max-width: 30%;
	min-width: 350px;
	text-align: left;
	padding: 30px;
	/* background-color: #999787; */
	color: #000066;
	border: 3px solid #000066;
	margin: 25px;
} 

